<div class="commits-listing commits-listing-padded">

    
<div class="commit-group-title">
  <span class="octicon octicon-git-commit"></span>2014년 10월 25일 (토)
</div>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/reatomy" data-skip-pjax="true" rel="contributor"><img alt="Yonghwa CHOI" class="avatar" data-user="8073935" height="36" src="https://avatars0.githubusercontent.com/u/8073935?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/d238b69fba19a25b07b29bfb338ebfe9cdf32e76" class="message" data-pjax="true" title="add Filter option on hospital.html.erb">add Filter option on hospital.html.erb</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=reatomy" aria-label="View all commits by reatomy" class="commit-author tooltipped tooltipped-s" rel="contributor">reatomy</a>
       authored <time datetime="2014-10-25T10:17:00Z" is="relative-time" title="2014년 10월 25일 오후 7시 17분 0초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/mozodev" data-skip-pjax="true" rel="contributor"><img alt="Yeongtaek Hong" class="avatar" data-user="1661950" height="36" src="https://avatars2.githubusercontent.com/u/1661950?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/db47f03232f4bedf923e3ba6fee529b066e6f310" class="message" data-pjax="true" title="레이아웃 약간 수정, 소개 및 연락 화면 스타일링">레이아웃 약간 수정, 소개 및 연락 화면 스타일링</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=mozodev" aria-label="View all commits by mozodev" class="commit-author tooltipped tooltipped-s" rel="contributor">mozodev</a>
       authored <time datetime="2014-10-25T09:33:55Z" is="relative-time" title="2014년 10월 25일 오후 6시 33분 55초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/reatomy" data-skip-pjax="true" rel="contributor"><img alt="Yonghwa CHOI" class="avatar" data-user="8073935" height="36" src="https://avatars0.githubusercontent.com/u/8073935?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/8e4b58ad8a523dbfeefa3dd4a57329ded809db25" class="message" data-pjax="true" title="Closing map_info view event : map.js -&gt; hospitals.html.erb templates">Closing map_info view event : map.js -&gt; hospitals.html.erb templates</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=reatomy" aria-label="View all commits by reatomy" class="commit-author tooltipped tooltipped-s" rel="contributor">reatomy</a>
       authored <time datetime="2014-10-25T09:28:37Z" is="relative-time" title="2014년 10월 25일 오후 6시 28분 37초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/reatomy" data-skip-pjax="true" rel="contributor"><img alt="Yonghwa CHOI" class="avatar" data-user="8073935" height="36" src="https://avatars0.githubusercontent.com/u/8073935?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/016049f88f2e122425ecd70405d6b98ead37ad26" class="message" data-pjax="true" title="hospital.html.erb active class css fix">hospital.html.erb active class css fix</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=reatomy" aria-label="View all commits by reatomy" class="commit-author tooltipped tooltipped-s" rel="contributor">reatomy</a>
       authored <time datetime="2014-10-25T08:38:27Z" is="relative-time" title="2014년 10월 25일 오후 5시 38분 27초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/mozodev" data-skip-pjax="true" rel="contributor"><img alt="Yeongtaek Hong" class="avatar" data-user="1661950" height="36" src="https://avatars2.githubusercontent.com/u/1661950?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/56f7bf6a83d23d3c8d40074dc1e705b76363c529" class="message" data-pjax="true" title="목록 화면 및 레이아웃 수정">목록 화면 및 레이아웃 수정</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=mozodev" aria-label="View all commits by mozodev" class="commit-author tooltipped tooltipped-s" rel="contributor">mozodev</a>
       authored <time datetime="2014-10-25T08:03:24Z" is="relative-time" title="2014년 10월 25일 오후 5시 3분 24초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/mozodev" data-skip-pjax="true" rel="contributor"><img alt="Yeongtaek Hong" class="avatar" data-user="1661950" height="36" src="https://avatars2.githubusercontent.com/u/1661950?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/d07d4f4a5d6ac3e56680763f78f2874d80a6b16e" class="message" data-pjax="true" title="bootstrap 3 layout.">bootstrap 3 layout.</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=mozodev" aria-label="View all commits by mozodev" class="commit-author tooltipped tooltipped-s" rel="contributor">mozodev</a>
       authored <time datetime="2014-10-25T07:49:10Z" is="relative-time" title="2014년 10월 25일 오후 4시 49분 10초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/wagurano" data-skip-pjax="true" rel="contributor"><img alt="Seongjun Peter Kim" class="avatar" data-user="2429132" height="36" src="https://avatars3.githubusercontent.com/u/2429132?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/df15a0803860abbbe850f80501dc1727d5631441" class="message" data-pjax="true" title="add pharmarcy menu">add pharmarcy menu</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=wagurano" aria-label="View all commits by wagurano" class="commit-author tooltipped tooltipped-s" rel="contributor">wagurano</a>
       authored <time datetime="2014-10-25T06:29:47Z" is="relative-time" title="2014년 10월 25일 오후 3시 29분 47초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/wagurano" data-skip-pjax="true" rel="contributor"><img alt="Seongjun Peter Kim" class="avatar" data-user="2429132" height="36" src="https://avatars3.githubusercontent.com/u/2429132?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/1349e9583fdfa0091fc28b7fc24c0959abee22ac" class="message" data-pjax="true" title="list pharm and aed

extend pharmarcy and aed">list pharm and aed</a>

    <span class="hidden-text-expander inline"><a href="#" class="js-details-target">…</a></span>
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=wagurano" aria-label="View all commits by wagurano" class="commit-author tooltipped tooltipped-s" rel="contributor">wagurano</a>
       authored <time datetime="2014-10-25T06:26:30Z" is="relative-time" title="2014년 10월 25일 오후 3시 26분 30초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/wagurano" data-skip-pjax="true" rel="contributor"><img alt="Seongjun Peter Kim" class="avatar" data-user="2429132" height="36" src="https://avatars3.githubusercontent.com/u/2429132?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/3477768c0faa37d9b67a191e75948c4e2a575456" class="message" data-pjax="true" title="add pharm

list place.type and add pharmarcy data">add pharm</a>

    <span class="hidden-text-expander inline"><a href="#" class="js-details-target">…</a></span>
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=wagurano" aria-label="View all commits by wagurano" class="commit-author tooltipped tooltipped-s" rel="contributor">wagurano</a>
       authored <time datetime="2014-10-25T06:24:16Z" is="relative-time" title="2014년 10월 25일 오후 3시 24분 16초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/mozodev" data-skip-pjax="true" rel="contributor"><img alt="Yeongtaek Hong" class="avatar" data-user="1661950" height="36" src="https://avatars2.githubusercontent.com/u/1661950?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/a21ee08e3392c2c91c13e22eda8ae4755b2c3ef2" class="message" data-pjax="true" title="Added hospital nav toggling between map and table view">Added hospital nav toggling between map and table view</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=mozodev" aria-label="View all commits by Yeongtaek Hong" class="commit-author tooltipped tooltipped-s" rel="contributor">mozodev</a>
       authored <time datetime="2014-10-25T01:22:56Z" is="relative-time" title="2014년 10월 25일 오전 10시 22분 56초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/mozodev" data-skip-pjax="true" rel="contributor"><img alt="Yeongtaek Hong" class="avatar" data-user="1661950" height="36" src="https://avatars2.githubusercontent.com/u/1661950?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/355e2ef986723e57c9e3cfbe44c29882f5c4b402" class="message" data-pjax="true" title="fixed popover 3.0">fixed popover 3.0</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=mozodev" aria-label="View all commits by Yeongtaek Hong" class="commit-author tooltipped tooltipped-s" rel="contributor">mozodev</a>
       authored <time datetime="2014-10-25T01:16:50Z" is="relative-time" title="2014년 10월 25일 오전 10시 16분 50초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/mozodev" data-skip-pjax="true" rel="contributor"><img alt="Yeongtaek Hong" class="avatar" data-user="1661950" height="36" src="https://avatars2.githubusercontent.com/u/1661950?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/2d4d23312f2edf80508dfe31e9147f04b49fd73b" class="message" data-pjax="true" title="black navbar top">black navbar top</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=mozodev" aria-label="View all commits by Yeongtaek Hong" class="commit-author tooltipped tooltipped-s" rel="contributor">mozodev</a>
       authored <time datetime="2014-10-25T00:00:29Z" is="relative-time" title="2014년 10월 25일 오전 9시 0분 29초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/mozodev" data-skip-pjax="true" rel="contributor"><img alt="Yeongtaek Hong" class="avatar" data-user="1661950" height="36" src="https://avatars2.githubusercontent.com/u/1661950?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/2bf2332b79ce0a9b13bc66313f2258298d8c0e86" class="message" data-pjax="true" title="Merge branch 'develop' of github.com:peace-code/ansim.me into develop">Merge branch 'develop' of github.com:peace-code/ansim.me into develop</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=mozodev" aria-label="View all commits by Yeongtaek Hong" class="commit-author tooltipped tooltipped-s" rel="contributor">mozodev</a>
       authored <time datetime="2014-10-24T23:50:51Z" is="relative-time" title="2014년 10월 25일 오전 8시 50분 51초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/mozodev" data-skip-pjax="true" rel="contributor"><img alt="Yeongtaek Hong" class="avatar" data-user="1661950" height="36" src="https://avatars2.githubusercontent.com/u/1661950?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/5c8b6884cd5b4e5ce6d6ab79e2b610f5b934769f" class="message" data-pjax="true" title="fixed togglign  map hospital category">fixed togglign map hospital category</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=mozodev" aria-label="View all commits by Yeongtaek Hong" class="commit-author tooltipped tooltipped-s" rel="contributor">mozodev</a>
       authored <time datetime="2014-10-24T23:50:42Z" is="relative-time" title="2014년 10월 25일 오전 8시 50분 42초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/reatomy" data-skip-pjax="true" rel="contributor"><img alt="Yonghwa CHOI" class="avatar" data-user="8073935" height="36" src="https://avatars0.githubusercontent.com/u/8073935?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/4c4cbe8e62b0b4891ec08dcbe1fe57c5fbbd137d" class="message" data-pjax="true" title="map.js map_info closing button">map.js map_info closing button</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=reatomy" aria-label="View all commits by reatomy" class="commit-author tooltipped tooltipped-s" rel="contributor">reatomy</a>
       authored <time datetime="2014-10-24T23:49:24Z" is="relative-time" title="2014년 10월 25일 오전 8시 49분 24초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/reatomy" data-skip-pjax="true" rel="contributor"><img alt="Yonghwa CHOI" class="avatar" data-user="8073935" height="36" src="https://avatars0.githubusercontent.com/u/8073935?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/769c933966853d768d4e8bb1ecf7a13e653079de" class="message" data-pjax="true" title="map.js fix">map.js fix</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=reatomy" aria-label="View all commits by reatomy" class="commit-author tooltipped tooltipped-s" rel="contributor">reatomy</a>
       authored <time datetime="2014-10-24T23:15:55Z" is="relative-time" title="2014년 10월 25일 오전 8시 15분 55초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/reatomy" data-skip-pjax="true" rel="contributor"><img alt="Yonghwa CHOI" class="avatar" data-user="8073935" height="36" src="https://avatars0.githubusercontent.com/u/8073935?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/cdb47b4d1c8d218cf7231de738e45da06b9d11a9" class="message" data-pjax="true" title="Merge branch 'develop' of https://github.com/peace-code/ansim.me into develop">Merge branch 'develop' of</a> <a href="https://github.com/peace-code/ansim.me">https://github.com/peace-code/ansim.me</a> <a href="https://github.com/peace-code/ansim.me/commit/cdb47b4d1c8d218cf7231de738e45da06b9d11a9" class="message" data-pjax="true" title="Merge branch 'develop' of https://github.com/peace-code/ansim.me into develop">into…</a>

    <span class="hidden-text-expander inline"><a href="#" class="js-details-target">…</a></span>
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=reatomy" aria-label="View all commits by reatomy" class="commit-author tooltipped tooltipped-s" rel="contributor">reatomy</a>
       authored <time datetime="2014-10-24T21:23:59Z" is="relative-time" title="2014년 10월 25일 오전 6시 23분 59초 GMT+9">8 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/reatomy" data-skip-pjax="true" rel="contributor"><img alt="Yonghwa CHOI" class="avatar" data-user="8073935" height="36" src="https://avatars0.githubusercontent.com/u/8073935?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/4410c59d9446d7429ef4bf522a2278cacd5e0427" class="message" data-pjax="true" title="maps/hospitals.html.erb bootstrap fix">maps/hospitals.html.erb bootstrap fix</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=reatomy" aria-label="View all commits by reatomy" class="commit-author tooltipped tooltipped-s" rel="contributor">reatomy</a>
       authored <time datetime="2014-10-24T21:23:29Z" is="relative-time" title="2014년 10월 25일 오전 6시 23분 29초 GMT+9">8 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/mozodev" data-skip-pjax="true" rel="contributor"><img alt="Yeongtaek Hong" class="avatar" data-user="1661950" height="36" src="https://avatars2.githubusercontent.com/u/1661950?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/peace-code/ansim.me/commit/510d0118afb50e564ee9236471cddba42c894313" class="message" data-pjax="true" title="Added cloud9 dev env guideline.">Added cloud9 dev env guideline.</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/peace-code/ansim.me/commits/develop?author=mozodev" aria-label="View all commits by Yeongtaek Hong" class="commit-author tooltipped tooltipped-s" rel="contributor">mozodev</a>
       authored <time datetime="2014-10-24T21:16:21Z" is="relative-time" title="2014년 10월 25일 오전 6시 16분 21초 GMT+9">8 days ago</time>



    </div>

  </div>


</li>

</ol>


  </div>