<div class="commits-listing commits-listing-padded">

    
<div class="commit-group-title">
  <span class="octicon octicon-git-commit"></span>2014년 10월 25일 (토)
</div>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/f5a48f8814acc0d7380f1167b585463a?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/c48389cea0c660e2a26ce4bf055a25727e0e2d68" class="message" data-pjax="true" title="last update in hackerton">last update in hackerton</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">root</span>
       authored <time datetime="2014-10-25T11:13:35Z" is="relative-time" title="2014년 10월 25일 오후 8시 13분 35초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/f9eaca2f6e3c5fd1b2c8c73cddd94ce9?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/daaa789d0e0fce7a808537cad47236c4f06f6a84" class="message" data-pjax="true" title="update public">update public</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">YuMinHwan</span>
       authored <time datetime="2014-10-25T09:30:02Z" is="relative-time" title="2014년 10월 25일 오후 6시 30분 2초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/f9eaca2f6e3c5fd1b2c8c73cddd94ce9?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/94b06e2d08826b631f3fa7c6d51de2e0311f6eb4" class="message" data-pjax="true" title="aaa">aaa</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">YuMinHwan</span>
       authored <time datetime="2014-10-25T09:26:06Z" is="relative-time" title="2014년 10월 25일 오후 6시 26분 6초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/f9eaca2f6e3c5fd1b2c8c73cddd94ce9?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/d68cfa7a41dc228b99f61247043993aa98466350" class="message" data-pjax="true" title="update layout">update layout</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">YuMinHwan</span>
       authored <time datetime="2014-10-25T09:23:27Z" is="relative-time" title="2014년 10월 25일 오후 6시 23분 27초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/00faab492a04ecfc0da2df9b7c8059b0?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/fb0befef58f1028bdf64b013ac2b1fda383aa8b3" class="message" data-pjax="true" title="index logo 새로고침 링크 추가">index logo 새로고침 링크 추가</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">mwkang</span>
       authored <time datetime="2014-10-25T06:46:40Z" is="relative-time" title="2014년 10월 25일 오후 3시 46분 40초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/00faab492a04ecfc0da2df9b7c8059b0?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/00ad43a1d15a0c99ca28619ba515b985bbafd2f1" class="message" data-pjax="true" title="파라미터 추가">파라미터 추가</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">mwkang</span>
       authored <time datetime="2014-10-25T06:44:36Z" is="relative-time" title="2014년 10월 25일 오후 3시 44분 36초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/00faab492a04ecfc0da2df9b7c8059b0?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/f5a675ebd2e5ce28156f56b5bf2862d7ef09bf2b" class="message" data-pjax="true" title="index css 수정">index css 수정</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">mwkang</span>
       authored <time datetime="2014-10-25T06:27:34Z" is="relative-time" title="2014년 10월 25일 오후 3시 27분 34초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/00faab492a04ecfc0da2df9b7c8059b0?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/c137b921d5321a5136656f86fb291eb6353b5f63" class="message" data-pjax="true" title="필요없는 파일 제거
타이틀 이미지 추가">필요없는 파일 제거</a>

    <span class="hidden-text-expander inline"><a href="#" class="js-details-target">…</a></span>
    </p>

    <div class="commit-meta">
        <span class="commit-author">mwkang</span>
       authored <time datetime="2014-10-25T06:14:30Z" is="relative-time" title="2014년 10월 25일 오후 3시 14분 30초 GMT+9">7 days ago</time>
    </div>
  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/00faab492a04ecfc0da2df9b7c8059b0?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/0d4cc7b76c6f59017fda42a20568cdbeddedcdba" class="message" data-pjax="true" title="index layout 수정">index layout 수정</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">mwkang</span>
       authored <time datetime="2014-10-25T05:48:29Z" is="relative-time" title="2014년 10월 25일 오후 2시 48분 29초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/00faab492a04ecfc0da2df9b7c8059b0?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/8a03c530cdfce839e0436bfad3001f89ef7ba417" class="message" data-pjax="true" title="index layout 수정">index layout 수정</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">mwkang</span>
       authored <time datetime="2014-10-25T05:46:16Z" is="relative-time" title="2014년 10월 25일 오후 2시 46분 16초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/f5a48f8814acc0d7380f1167b585463a?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/f747f0785efd8b4e88ac46ba97097eeb8ddcc2b7" class="message" data-pjax="true" title="Merge branch 'master' of https://github.com/codeforseoul/codeforyeouido">Merge branch 'master' of</a> <a href="https://github.com/codeforseoul/codeforyeouido">https://github.com/codeforseoul/codeforyeouido</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">root</span>
       authored <time datetime="2014-10-25T02:24:23Z" is="relative-time" title="2014년 10월 25일 오전 11시 24분 23초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/f5a48f8814acc0d7380f1167b585463a?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/6de9c2e2f29e41fe48204d557b5d8f63f340a47e" class="message" data-pjax="true" title="bug fix">bug fix</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">root</span>
       authored <time datetime="2014-10-25T02:23:49Z" is="relative-time" title="2014년 10월 25일 오전 11시 23분 49초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/jeff-lim" data-skip-pjax="true" rel="contributor"><img alt="jeff-lim" class="avatar" data-user="7908677" height="36" src="https://avatars0.githubusercontent.com/u/7908677?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/7f082cf38f7ea483dda50a2544a8bf888548d87a" class="message" data-pjax="true" title="Create README.md">Create README.md</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/codeforyeouido/commits/master?author=jeff-lim" aria-label="View all commits by jeff-lim" class="commit-author tooltipped tooltipped-s" rel="contributor">jeff-lim</a>
       authored <time datetime="2014-10-25T00:40:25Z" is="relative-time" title="2014년 10월 25일 오전 9시 40분 25초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/00faab492a04ecfc0da2df9b7c8059b0?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/5e2576cf8ce1d052558cf4a35914fc19ef0820e8" class="message" data-pjax="true" title="mysql, ejs 의존성 추">mysql, ejs 의존성 추</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">mwkang</span>
       authored <time datetime="2014-10-25T00:05:59Z" is="relative-time" title="2014년 10월 25일 오전 9시 5분 59초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/f5a48f8814acc0d7380f1167b585463a?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/ca6a12a5d057d55cedaca7602f1496e846fcfc60" class="message" data-pjax="true" title="create mysql interface &amp; create public dir">create mysql interface &amp; create public dir</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">root</span>
       authored <time datetime="2014-10-24T23:30:27Z" is="relative-time" title="2014년 10월 25일 오전 8시 30분 27초 GMT+9">7 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/f9eaca2f6e3c5fd1b2c8c73cddd94ce9?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/7f451982536834ee0c3663a73c78a1331fab01f4" class="message" data-pjax="true" title="create .gitignore / modify router.js, public/*">create .gitignore / modify router.js, public/*</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">YuMinHwan</span>
       authored <time datetime="2014-10-24T21:07:54Z" is="relative-time" title="2014년 10월 25일 오전 6시 7분 54초 GMT+9">8 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/f9eaca2f6e3c5fd1b2c8c73cddd94ce9?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/ba0418be4e50e1068fe5dd6b9fe421d004d52eb2" class="message" data-pjax="true" title="basic nodejs server for minhwan">basic nodejs server for minhwan</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">YuMinHwan</span>
       authored <time datetime="2014-10-24T17:29:42Z" is="relative-time" title="2014년 10월 25일 오전 2시 29분 42초 GMT+9">8 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/f9eaca2f6e3c5fd1b2c8c73cddd94ce9?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/de4e6952ace9bec028650f295a3b35009032ef81" class="message" data-pjax="true" title="init">init</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">YuMinHwan</span>
       authored <time datetime="2014-10-24T17:27:52Z" is="relative-time" title="2014년 10월 25일 오전 2시 27분 52초 GMT+9">8 days ago</time>



    </div>

  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/f9eaca2f6e3c5fd1b2c8c73cddd94ce9?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/codeforyeouido/commit/5ea177455d41e7d9d439c8120255a0fe66298778" class="message" data-pjax="true" title="test">test</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">YuMinHwan</span>
       authored <time datetime="2014-10-24T17:23:12Z" is="relative-time" title="2014년 10월 25일 오전 2시 23분 12초 GMT+9">8 days ago</time>



    </div>

  </div>

</li>

</ol>


  </div>