    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="http://codenamu.org"><img src="http://codeforseoul.codenamu.org/img/codeforall/codenamu.png" alt="Codenamu" height="50px"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">소개</a></li>
                <li><a href="/schedule/">일정</a></li>
              </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="intro-header-message">
        <h5>2014 제 3회 코드나무 해커톤</h5>
        <h1>해커톤을 가장한 코딩 MT</h1>
        <h3>부제: 코드나무 CPR(심폐소생술) 해커톤</h3>
      </div>
    </div>
  </div>
  </div>
  <!-- /.container -->