    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="http://codeforseoul.codenamu.org/img/codeforall/codenamu.png"><img src="http://codeforseoul.codenamu.org/img/codeforall/codenamu.png" alt="Codenamu" height="50px"></a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="intro-header-message">
        <h5>2014 제 3회 코드나무 해커톤</h5>
        <h1>해커톤을 가장한 코딩 MT</h1>
        <h3>부제: 코드나무 CPR(심폐소생술) 해커톤</h3>
      </div>
    </div>
  </div>
  </div>
  <!-- /.container -->

  <div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                  <h3>코딩, 운동장, 바베큐, 맥주, 사람, 대화 그리고 가을 바람과 햇살.</h3>
                  <h4>일시: 10월 24일(금) 20:00 ~ 10월 26일(일) 11:00</h4>
                  <hr class="intro-divider">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <a href="http://onoffmix.com/event/33376" class="btn btn-default btn-lg"><i class="fa fa-arrow-circle-right fa-fw"></i> <span class="network-name">해커톤 신청하기</span></a>
</div>
<!-- /.intro-header -->