<div class="commits-listing commits-listing-padded js-navigation-container js-active-navigation-container" data-navigation-scroll="page">

    
<div class="commit-group-title">
  <span class="octicon octicon-git-commit"></span>2014년 10월 25일 (토)
</div>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/10f12db67581e7d1b8d9f18682086ef2c9f9573e" class="message" data-pjax="true" title="fix missing file import">fix missing file import</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-25T10:29:00Z" is="relative-time" title="2014년 10월 25일 오후 7시 29분 0초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/056ff9d24f37ee17533582f4133748d88f28f2cd" class="message" data-pjax="true" title="legislation bar chart">legislation bar chart</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-25T10:24:45Z" is="relative-time" title="2014년 10월 25일 오후 7시 24분 45초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/903a9f42cf9dbad8686f079b5bdb61e1e62df8a1" class="message" data-pjax="true" title="Closure">Closure</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-25T09:53:05Z" is="relative-time" title="2014년 10월 25일 오후 6시 53분 5초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/d350480a74027ded9acaa348f4f131883e6c0b7a" class="message" data-pjax="true" title="Merge branch 'master' of github.com:teampopong/codenamu2014">Merge branch 'master' of github.com:teampopong/codenamu2014</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-25T09:50:58Z" is="relative-time" title="2014년 10월 25일 오후 6시 50분 58초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/d79c79390328fb475df4dd31f1d861cd63b6ff03" class="message" data-pjax="true" title="Merge branch 'master' of github.com:teampopong/codenamu2014">Merge branch 'master' of github.com:teampopong/codenamu2014</a>

    <span class="hidden-text-expander inline"><a href="https://github.com#" class="js-details-target">…</a></span>
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-25T09:50:30Z" is="relative-time" title="2014년 10월 25일 오후 6시 50분 30초 GMT+9">7 days ago</time>
    </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/0f76b48002a53092e81531c060ff3bf778139976" class="message" data-pjax="true" title="Add links to attendance">Add links to attendance</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T09:43:38Z" is="relative-time" title="2014년 10월 25일 오후 6시 43분 38초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/f41f54385d732335e530440b6cc2221813ff420d" class="message" data-pjax="true" title="Fix member id bug">Fix member id bug</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T09:28:38Z" is="relative-time" title="2014년 10월 25일 오후 6시 28분 38초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/84ad2c67aa89bb654db7d4e68725fc8fe8ce643f" class="message" data-pjax="true" title="Code refactoring">Code refactoring</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T09:17:51Z" is="relative-time" title="2014년 10월 25일 오후 6시 17분 51초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/ae5f1f216c89e8ff521b85f8f7976ebb6c91ef35" class="message" data-pjax="true" title="Change data form and convert member url to id">Change data form and convert member url to id</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T09:17:30Z" is="relative-time" title="2014년 10월 25일 오후 6시 17분 30초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/34a3b13f3eb52c8286e2e43aa0ad25757e27e981" class="message" data-pjax="true" title="Renew main landing page &amp; map page looks">Renew main landing page &amp; map page looks</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-25T09:11:04Z" is="relative-time" title="2014년 10월 25일 오후 6시 11분 4초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/6417e15e4fe305aa7d3b2e4234f50e0345c10449" class="message" data-pjax="true" title="ignore vi swp file">ignore vi swp file</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-25T08:52:00Z" is="relative-time" title="2014년 10월 25일 오후 5시 52분 0초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/b719d6d2983fa8d50909a57adb4ffae679a3594b" class="message" data-pjax="true" title="Merge branch 'master' of github.com:teampopong/codenamu2014">Merge branch 'master' of github.com:teampopong/codenamu2014</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-25T08:41:47Z" is="relative-time" title="2014년 10월 25일 오후 5시 41분 47초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/89ebf4c92b2f592fa1447f27151d22d3db4a48ef" class="message" data-pjax="true" title="Fix broken image links &amp; text align">Fix broken image links &amp; text align</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-25T08:41:28Z" is="relative-time" title="2014년 10월 25일 오후 5시 41분 28초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/931ea9f325ebbb66616a1ce4910a43e3dc71726d" class="message" data-pjax="true" title="정당 정보 입력">정당 정보 입력</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T08:29:59Z" is="relative-time" title="2014년 10월 25일 오후 5시 29분 59초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/4e7787b2e7548e930937ded38d490b00f8de32ca" class="message" data-pjax="true" title="Update members data: sponsored laws">Update members data: sponsored laws</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-25T08:12:51Z" is="relative-time" title="2014년 10월 25일 오후 5시 12분 51초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/fa8dcea771786d967437e09e802fa25e9439d8f4" class="message" data-pjax="true" title="Refine attendance score design">Refine attendance score design</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T08:08:46Z" is="relative-time" title="2014년 10월 25일 오후 5시 8분 46초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/1c94082d75b10ff2fa72ab5e597a799b45f79836" class="message" data-pjax="true" title="Update data">Update data</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T07:59:09Z" is="relative-time" title="2014년 10월 25일 오후 4시 59분 9초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/2e1fe2ebeef2072c660e3f57753c3f8843ec9835" class="message" data-pjax="true" title="의원 출석 점수 부여">의원 출석 점수 부여</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T07:47:51Z" is="relative-time" title="2014년 10월 25일 오후 4시 47분 51초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/01486329c9adefaf2234faa9cd721d1079df33ab" class="message" data-pjax="true" title="Code refactoring">Code refactoring</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T07:36:41Z" is="relative-time" title="2014년 10월 25일 오후 4시 36분 41초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/dfc0832b170167e4c023f1b05c905cb748b2673a" class="message" data-pjax="true" title="Minor modifications">Minor modifications</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T07:35:19Z" is="relative-time" title="2014년 10월 25일 오후 4시 35분 19초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/22d6ed6df078d4c568ad79315407d3261126e501" class="message" data-pjax="true" title="Rename files">Rename files</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T07:04:48Z" is="relative-time" title="2014년 10월 25일 오후 4시 4분 48초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/40e31a8ee032d4d9fbec767bb6f8a247a3f4f14e" class="message" data-pjax="true" title="Redefine tags">Redefine tags</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T06:28:42Z" is="relative-time" title="2014년 10월 25일 오후 3시 28분 42초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/e83368ad7c0ff38b53e1ba4ecb5f14df60186701" class="message" data-pjax="true" title="Add member selector">Add member selector</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T04:48:09Z" is="relative-time" title="2014년 10월 25일 오후 1시 48분 9초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/88f3bb0384b3a1ee82b20e9baab1792f983168a1" class="message" data-pjax="true" title="Add main page">Add main page</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T04:15:46Z" is="relative-time" title="2014년 10월 25일 오후 1시 15분 46초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/2200d462f628bd558c35b4e4d9884f405d35026d" class="message" data-pjax="true" title="Merge branch 'master' of https://github.com/teampopong/codenamu2014">Merge branch 'master' of</a> <a href="https://github.com/teampopong/codenamu2014">https://github.com/teampopong/codenamu2014</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T04:10:33Z" is="relative-time" title="2014년 10월 25일 오후 1시 10분 33초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/216d17980ba78868db779fd5590ef0006630e474" class="message" data-pjax="true" title="Merge pull request #2 from zeniroy/master

complete 일단">Merge pull request</a> <a href="https://github.comhttps://github.com/teampopong/codenamu2014/pull/2" class="issue-link" title="complete 일단">#2</a> <a href="https://github.com/teampopong/codenamu2014/commit/216d17980ba78868db779fd5590ef0006630e474" class="message" data-pjax="true" title="Merge pull request #2 from zeniroy/master

complete 일단">from zeniroy/master</a>

    <span class="hidden-text-expander inline"><a href="https://github.com#" class="js-details-target">…</a></span>
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T04:08:35Z" is="relative-time" title="2014년 10월 25일 오후 1시 8분 35초 GMT+9">7 days ago</time>
    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/c2cca6fef83027503fe4395a323605bcf8d0c0e2" class="message" data-pjax="true" title="Merge pull request #2 from zeniroy/master

complete 일단">Merge pull request</a> <a href="https://github.comhttps://github.com/teampopong/codenamu2014/pull/2" class="issue-link" title="complete 일단">#2</a> <a href="https://github.com/teampopong/codenamu2014/commit/c2cca6fef83027503fe4395a323605bcf8d0c0e2" class="message" data-pjax="true" title="Merge pull request #2 from zeniroy/master

complete 일단">from zeniroy/master</a>

    <span class="hidden-text-expander inline"><a href="https://github.com#" class="js-details-target">…</a></span>
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T04:08:35Z" is="relative-time" title="2014년 10월 25일 오후 1시 8분 35초 GMT+9">7 days ago</time>



    </div>
  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/zeniroy" data-skip-pjax="true" rel="contributor"><img alt="zeniroy" class="avatar" data-user="1261780" height="36" src="https://avatars0.githubusercontent.com/u/1261780?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/b0355f1e5bb84d0a2e38323f550178ad2effd18f" class="message" data-pjax="true" title="complete 일단">complete 일단</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=zeniroy" aria-label="View all commits by zeniroy" class="commit-author tooltipped tooltipped-s" rel="contributor">zeniroy</a>
       authored <time datetime="2014-10-25T04:06:40Z" is="relative-time" title="2014년 10월 25일 오후 1시 6분 40초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/e9t" data-skip-pjax="true" rel="contributor"><img alt="Lucy Park" class="avatar" data-user="1205890" height="36" src="https://avatars1.githubusercontent.com/u/1205890?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/8d8dd1c51e4bd468fad0be2b3d74c29a0317a704" class="message" data-pjax="true" title="Merge pull request #1 from zeniroy/master

data connection">Merge pull request</a> <a href="https://github.comhttps://github.com/teampopong/codenamu2014/pull/1" class="issue-link" title="data connection">#1</a> <a href="https://github.com/teampopong/codenamu2014/commit/8d8dd1c51e4bd468fad0be2b3d74c29a0317a704" class="message" data-pjax="true" title="Merge pull request #1 from zeniroy/master

data connection">from zeniroy/master</a>

    <span class="hidden-text-expander inline"><a href="https://github.com#" class="js-details-target">…</a></span>
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=e9t" aria-label="View all commits by Lucy Park" class="commit-author tooltipped tooltipped-s" rel="contributor">e9t</a>
       authored <time datetime="2014-10-25T03:40:37Z" is="relative-time" title="2014년 10월 25일 오후 12시 40분 37초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/zeniroy" data-skip-pjax="true" rel="contributor"><img alt="zeniroy" class="avatar" data-user="1261780" height="36" src="https://avatars0.githubusercontent.com/u/1261780?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/f4871481d6a169161d9b429c9abca4442cd6e6cf" class="message" data-pjax="true" title="data connection">data connection</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=zeniroy" aria-label="View all commits by zeniroy" class="commit-author tooltipped tooltipped-s" rel="contributor">zeniroy</a>
       authored <time datetime="2014-10-25T03:36:12Z" is="relative-time" title="2014년 10월 25일 오후 12시 36분 12초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/cornchz" data-skip-pjax="true" rel="contributor"><img alt="Cheol Kang" class="avatar" data-user="353777" height="36" src="https://avatars1.githubusercontent.com/u/353777?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/teampopong/codenamu2014/commit/a16e79466684f58fba699ca2fb90cabf02a02817" class="message" data-pjax="true" title="Initial commit">Initial commit</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/teampopong/codenamu2014/commits/master?author=cornchz" aria-label="View all commits by Cheol Kang" class="commit-author tooltipped tooltipped-s" rel="contributor">cornchz</a>
       authored <time datetime="2014-10-24T18:56:40Z" is="relative-time" title="2014년 10월 25일 오전 3시 56분 40초 GMT+9">8 days ago</time>



    </div>

  </div>


</li>

</ol>


  </div>