<h2>open-idol-crawler</h2>
<div class="commits-listing commits-listing-padded js-navigation-container js-active-navigation-container" data-navigation-scroll="page">

    
<div class="commit-group-title">
  <span class="octicon octicon-git-commit"></span>2014년 10월 25일 (토)
</div>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/litiblue" data-skip-pjax="true" rel="contributor"><img alt="서준석" class="avatar" data-user="1290086" height="36" src="https://avatars3.githubusercontent.com/u/1290086?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-crawler/commit/b05d28206f12ed8d97ed025ef0c8c448268d09df" class="message" data-pjax="true" title="Update README.md">Update README.md</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-crawler/commits/master?author=litiblue" aria-label="View all commits by 서준석" class="commit-author tooltipped tooltipped-s" rel="contributor">litiblue</a>
       authored <time datetime="2014-10-25T09:13:46Z" is="relative-time" title="2014년 10월 25일 오후 6시 13분 46초 GMT+9">6 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/litiblue" data-skip-pjax="true" rel="contributor"><img alt="서준석" class="avatar" data-user="1290086" height="36" src="https://avatars3.githubusercontent.com/u/1290086?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-crawler/commit/d814ce950341ec621fa29d831a640d220d27128d" class="message" data-pjax="true" title="Create README.md">Create README.md</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-crawler/commits/master?author=litiblue" aria-label="View all commits by 서준석" class="commit-author tooltipped tooltipped-s" rel="contributor">litiblue</a>
       authored <time datetime="2014-10-25T09:12:27Z" is="relative-time" title="2014년 10월 25일 오후 6시 12분 27초 GMT+9">6 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/lexifdev" data-skip-pjax="true" rel="contributor"><img alt="lexifdev" class="avatar" data-user="721157" height="36" src="https://avatars0.githubusercontent.com/u/721157?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-crawler/commit/ed313637c520a3e28ef6b1717f2b577d53d30551" class="message" data-pjax="true" title="init.">init.</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-crawler/commits/master?author=lexifdev" aria-label="View all commits by lexifdev" class="commit-author tooltipped tooltipped-s" rel="contributor">lexifdev</a>
       authored <time datetime="2014-10-24T23:27:43Z" is="relative-time" title="2014년 10월 25일 오전 8시 27분 43초 GMT+9">6 days ago</time>



    </div>

  </div>


</li>

</ol>


  </div>


<h2>open-idol-web</h2>

<div class="commits-listing commits-listing-padded js-navigation-container js-active-navigation-container" data-navigation-scroll="page">

    
<div class="commit-group-title">
  <span class="octicon octicon-git-commit"></span>2014년 10월 25일 (토)
</div>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/litiblue" data-skip-pjax="true" rel="contributor"><img alt="서준석" class="avatar" data-user="1290086" height="36" src="https://avatars3.githubusercontent.com/u/1290086?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-web/commit/fc8a230219f0188a5e044535a754549ccc9a42bf" class="message" data-pjax="true" title="Update README.md">Update README.md</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-web/commits/master?author=litiblue" aria-label="View all commits by 서준석" class="commit-author tooltipped tooltipped-s" rel="contributor">litiblue</a>
       authored <time datetime="2014-10-25T10:21:27Z" is="relative-time" title="2014년 10월 25일 오후 7시 21분 27초 GMT+9">7 days ago</time>



    </div>

  </div>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/litiblue" data-skip-pjax="true" rel="contributor"><img alt="서준석" class="avatar" data-user="1290086" height="36" src="https://avatars3.githubusercontent.com/u/1290086?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-web/commit/8b5baab81235bb4afc93fe558e6eff41bd949f08" class="message" data-pjax="true" title="Create LINCENSE.txt">Create LINCENSE.txt</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-web/commits/master?author=litiblue" aria-label="View all commits by 서준석" class="commit-author tooltipped tooltipped-s" rel="contributor">litiblue</a>
       authored <time datetime="2014-10-25T09:52:28Z" is="relative-time" title="2014년 10월 25일 오후 6시 52분 28초 GMT+9">7 days ago</time>



    </div>

  </div>
</li>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/litiblue" data-skip-pjax="true" rel="contributor"><img alt="서준석" class="avatar" data-user="1290086" height="36" src="https://avatars3.githubusercontent.com/u/1290086?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-web/commit/cc8c6c8895a579172bbd0f4edcd75495860dd256" class="message" data-pjax="true" title="Update README.md">Update README.md</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-web/commits/master?author=litiblue" aria-label="View all commits by 서준석" class="commit-author tooltipped tooltipped-s" rel="contributor">litiblue</a>
       authored <time datetime="2014-10-25T09:51:00Z" is="relative-time" title="2014년 10월 25일 오후 6시 51분 0초 GMT+9">7 days ago</time>
    </div>

  </div>
</li>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/nacyot" data-skip-pjax="true" rel="contributor"><img alt="Daekwon Kim" class="avatar" data-user="148919" height="36" src="https://avatars3.githubusercontent.com/u/148919?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-web/commit/37b8ecc81e125d7b8eb7512ecd2498b46cc3d705" class="message" data-pjax="true" title="Merge branch 'master' of github.com:remotty/open-idol-web">Merge branch 'master' of github.com:remotty/open-idol-web</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-web/commits/master?author=nacyot" aria-label="View all commits by Kim Daekwon" class="commit-author tooltipped tooltipped-s" rel="contributor">nacyot</a>
       authored <time datetime="2014-10-25T09:25:43Z" is="relative-time" title="2014년 10월 25일 오후 6시 25분 43초 GMT+9">7 days ago</time>
    </div>

  </div>
</li>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/nacyot" data-skip-pjax="true" rel="contributor"><img alt="Daekwon Kim" class="avatar" data-user="148919" height="36" src="https://avatars3.githubusercontent.com/u/148919?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-web/commit/844c9ddefa0054d751516d38edf9af5afbd2257b" class="message" data-pjax="true" title="Commit">Commit</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-web/commits/master?author=nacyot" aria-label="View all commits by Kim Daekwon" class="commit-author tooltipped tooltipped-s" rel="contributor">nacyot</a>
       authored <time datetime="2014-10-25T09:23:34Z" is="relative-time" title="2014년 10월 25일 오후 6시 23분 34초 GMT+9">7 days ago</time>



    </div>

  </div>
</li>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/nacyot" data-skip-pjax="true" rel="contributor"><img alt="Daekwon Kim" class="avatar" data-user="148919" height="36" src="https://avatars3.githubusercontent.com/u/148919?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-web/commit/934f577ad35fd1d74dfa4a749be915a2b58bdc85" class="message" data-pjax="true" title="Init repo">Init repo</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-web/commits/master?author=nacyot" aria-label="View all commits by Kim Daekwon" class="commit-author tooltipped tooltipped-s" rel="contributor">nacyot</a>
       authored <time datetime="2014-10-24T21:05:54Z" is="relative-time" title="2014년 10월 25일 오전 6시 5분 54초 GMT+9">8 days ago</time>



    </div>

  </div>
</li>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/nacyot" data-skip-pjax="true" rel="contributor"><img alt="Daekwon Kim" class="avatar" data-user="148919" height="36" src="https://avatars3.githubusercontent.com/u/148919?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-web/commit/189a7bcc60c3bd8083b6b769c35aab4c00f03bb0" class="message" data-pjax="true" title="Init repo">Init repo</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-web/commits/master?author=nacyot" aria-label="View all commits by toto" class="commit-author tooltipped tooltipped-s" rel="contributor">nacyot</a>
       authored <time datetime="2014-10-24T18:38:54Z" is="relative-time" title="2014년 10월 25일 오전 3시 38분 54초 GMT+9">8 days ago</time>
    </div>

  </div>
</li>
</ol>
  </div>



<h2>open-idol-api</h2>

<div class="commits-listing commits-listing-padded js-navigation-container js-active-navigation-container" data-navigation-scroll="page">

    
<div class="commit-group-title">
  <span class="octicon octicon-git-commit"></span>2014년 10월 25일 (토)
</div>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/b48bbbcda5463f481526d1e9eba75b06?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-api/commit/9d060e830f3cb0bd5a9b22d0a3c474b3093d2d70" class="message" data-pjax="true" title="최종">최종</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">han</span>
       authored <time datetime="2014-10-25T05:02:18Z" is="relative-time" title="2014년 10월 25일 오후 2시 2분 18초 GMT+9">7 days ago</time>



    </div>

  </div>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/b48bbbcda5463f481526d1e9eba75b06?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-api/commit/47afc1165dd8a0b069ee3fb0c5bbb2ecdabed3a6" class="message" data-pjax="true" title="crud...">crud...</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">han</span>
       authored <time datetime="2014-10-24T23:46:44Z" is="relative-time" title="2014년 10월 25일 오전 8시 46분 44초 GMT+9">7 days ago</time>



    </div>

  </div>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/b48bbbcda5463f481526d1e9eba75b06?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-api/commit/9c479721ea6558800ca9cbf9fa9f8eaeb918621e" class="message" data-pjax="true" title="add sqlite">add sqlite</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">han</span>
       authored <time datetime="2014-10-24T20:11:41Z" is="relative-time" title="2014년 10월 25일 오전 5시 11분 41초 GMT+9">8 days ago</time>



    </div>

  </div>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/b48bbbcda5463f481526d1e9eba75b06?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-api/commit/7b2b3e3ca604ba3e065a53f3ea6df0ee16d5af57" class="message" data-pjax="true" title="update README.md">update README.md</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">han</span>
       authored <time datetime="2014-10-24T20:10:56Z" is="relative-time" title="2014년 10월 25일 오전 5시 10분 56초 GMT+9">8 days ago</time>



    </div>

  </div>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/b48bbbcda5463f481526d1e9eba75b06?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-api/commit/e79036c4ada4d7fbdd42e9281272be4ccf53a7e6" class="message" data-pjax="true" title="update READEME.md">update READEME.md</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">han</span>
       authored <time datetime="2014-10-24T20:09:49Z" is="relative-time" title="2014년 10월 25일 오전 5시 9분 49초 GMT+9">8 days ago</time>



    </div>

  </div>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/b48bbbcda5463f481526d1e9eba75b06?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-api/commit/80e4a98ccb44d232c254411a127e7cc84a41a899" class="message" data-pjax="true" title="cp settings.py">cp settings.py</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">han</span>
       authored <time datetime="2014-10-24T20:07:49Z" is="relative-time" title="2014년 10월 25일 오전 5시 7분 49초 GMT+9">8 days ago</time>



    </div>

  </div>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/b48bbbcda5463f481526d1e9eba75b06?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-api/commit/35a85e0b9a63077cd9ac9fd4cc5c348cd0f4a17d" class="message" data-pjax="true" title="Merge branch 'master' of github.com:remotty/open-idol-api">Merge branch 'master' of github.com:remotty/open-idol-api</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">han</span>
       authored <time datetime="2014-10-24T19:44:15Z" is="relative-time" title="2014년 10월 25일 오전 4시 44분 15초 GMT+9">8 days ago</time>



    </div>

  </div>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://0.gravatar.com/avatar/b48bbbcda5463f481526d1e9eba75b06?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-api/commit/2ed118ad850353b383cfd88ffb159c211e509690" class="message" data-pjax="true" title="init">init</a>

    
    </p>

    <div class="commit-meta">
        <span class="commit-author">han</span>
       authored <time datetime="2014-10-24T19:36:31Z" is="relative-time" title="2014년 10월 25일 오전 4시 36분 31초 GMT+9">8 days ago</time>



    </div>

  </div>

<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/nacyot" data-skip-pjax="true" rel="contributor"><img alt="Daekwon Kim" class="avatar" data-user="148919" height="36" src="https://avatars3.githubusercontent.com/u/148919?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/remotty/open-idol-api/commit/dd1757ed916467c4e5b03f5581d16122421d2cfc" class="message" data-pjax="true" title="Init repo">Init repo</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/remotty/open-idol-api/commits/master?author=nacyot" aria-label="View all commits by toto" class="commit-author tooltipped tooltipped-s" rel="contributor">nacyot</a>
       authored <time datetime="2014-10-24T15:38:31Z" is="relative-time" title="2014년 10월 25일 오전 12시 38분 31초 GMT+9">8 days ago</time>



    </div>

  </div>



  </div>