<div class="commits-listing commits-listing-padded js-navigation-container js-active-navigation-container" data-navigation-scroll="page">

<div class="commit-group-title">2014년 11월 1일 (토)</div>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/yoiziy" data-skip-pjax="true" rel="contributor"><img alt="yoiziy" class="avatar" data-user="1642148" height="36" src="https://avatars3.githubusercontent.com/u/1642148?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/7ccdd756d03f16613f5b42e8c2797e5692165676" class="message" data-pjax="true" title="URI/폴더 수정">URI/폴더 수정</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=yoiziy" aria-label="View all commits by Shin Ilyong" class="commit-author tooltipped tooltipped-s" rel="contributor">yoiziy</a>
       authored <time datetime="2014-11-01T08:39:16Z" is="relative-time" title="2014년 11월 1일 오후 5시 39분 16초 GMT+9">19 minutes ago</time>



    </div>

  </div>
  <div class="commit-links-cell table-list-cell">  </div>

</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/yoiziy" data-skip-pjax="true" rel="contributor"><img alt="yoiziy" class="avatar" data-user="1642148" height="36" src="https://avatars3.githubusercontent.com/u/1642148?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/7a82a7a85304e2deca6d3a8e3340de2e5ea65e01" class="message" data-pjax="true" title="client 분">client 분</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=yoiziy" aria-label="View all commits by Shin Ilyong" class="commit-author tooltipped tooltipped-s" rel="contributor">yoiziy</a>
       authored <time datetime="2014-11-01T08:30:53Z" is="relative-time" title="2014년 11월 1일 오후 5시 30분 53초 GMT+9">27 minutes ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/yoseo" data-skip-pjax="true" rel="contributor"><img alt="Ryan y. Seo" class="avatar" data-user="786384" height="36" src="https://avatars0.githubusercontent.com/u/786384?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/af0449b2d43fe7de335a83c05018d2706de83115" class="message" data-pjax="true" title="Merge branch 'backend-proto' of https://github.com/codeforseoul/seoul_serenity into backend-proto">Merge branch 'backend-proto' of</a> <a href="https://github.com/codeforseoul/seoul_serenity">https://github.com/codeforseoul/seoul…</a>

    <span class="hidden-text-expander inline"><a href="#" class="js-details-target">…</a></span>
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=yoseo" aria-label="View all commits by yoseo" class="commit-author tooltipped tooltipped-s" rel="contributor">yoseo</a>
       authored <time datetime="2014-11-01T07:32:49Z" is="relative-time" title="2014년 11월 1일 오후 4시 32분 49초 GMT+9">an hour ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item navigation-focus">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/yoseo" data-skip-pjax="true" rel="contributor"><img alt="Ryan y. Seo" class="avatar" data-user="786384" height="36" src="https://avatars0.githubusercontent.com/u/786384?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/7e057de3aa75f8dcbe190804f9de1ea9956f5c21" class="message" data-pjax="true" title="client template assets 경로 변경.">client template assets 경로 변경.</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=yoseo" aria-label="View all commits by yoseo" class="commit-author tooltipped tooltipped-s" rel="contributor">yoseo</a>
       authored <time datetime="2014-11-01T07:32:26Z" is="relative-time" title="2014년 11월 1일 오후 4시 32분 26초 GMT+9">an hour ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/jinmin" data-skip-pjax="true" rel="contributor"><img alt="jinmin" class="avatar" data-user="2977172" height="36" src="https://avatars0.githubusercontent.com/u/2977172?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/c6a4e205ac8f06564cda04d90801acee89ecc24e" class="message" data-pjax="true" title="user_type 추">user_type 추</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=jinmin" aria-label="View all commits by jinmin" class="commit-author tooltipped tooltipped-s" rel="contributor">jinmin</a>
       authored <time datetime="2014-11-01T07:15:05Z" is="relative-time" title="2014년 11월 1일 오후 4시 15분 5초 GMT+9">2 hours ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/yoseo" data-skip-pjax="true" rel="contributor"><img alt="Ryan y. Seo" class="avatar" data-user="786384" height="36" src="https://avatars0.githubusercontent.com/u/786384?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/4521bfc87fbe8bd839edf41109af7ba5f8ae4111" class="message" data-pjax="true" title="client 페이지 템플릿 작업 디렉토리 정">client 페이지 템플릿 작업 디렉토리 정</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=yoseo" aria-label="View all commits by yoseo" class="commit-author tooltipped tooltipped-s" rel="contributor">yoseo</a>
       authored <time datetime="2014-11-01T07:06:39Z" is="relative-time" title="2014년 11월 1일 오후 4시 6분 39초 GMT+9">2 hours ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/yoseo" data-skip-pjax="true" rel="contributor"><img alt="Ryan y. Seo" class="avatar" data-user="786384" height="36" src="https://avatars0.githubusercontent.com/u/786384?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/9ae040a1c9a2f73c7a3476e8de726cb1fff252d0" class="message" data-pjax="true" title="Merge commit '64134485f0287b06ac0ba63129c5261197afb970' into backend-proto">Merge commit '64134485f0287b06ac0ba63129c5261197afb970' into backend-…</a>

    <span class="hidden-text-expander inline"><a href="#" class="js-details-target">…</a></span>
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=yoseo" aria-label="View all commits by yoseo" class="commit-author tooltipped tooltipped-s" rel="contributor">yoseo</a>
       authored <time datetime="2014-11-01T05:40:41Z" is="relative-time" title="2014년 11월 1일 오후 2시 40분 41초 GMT+9">3 hours ago</time>
    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/yoseo" data-skip-pjax="true" rel="contributor"><img alt="Ryan y. Seo" class="avatar" data-user="786384" height="36" src="https://avatars0.githubusercontent.com/u/786384?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/6ffde3f9039cf4c4e115ac1e74618c2e09ffc794" class="message" data-pjax="true" title=".....">.....</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=yoseo" aria-label="View all commits by yoseo" class="commit-author tooltipped tooltipped-s" rel="contributor">yoseo</a>
       authored <time datetime="2014-11-01T05:40:04Z" is="relative-time" title="2014년 11월 1일 오후 2시 40분 4초 GMT+9">3 hours ago</time>



    </div>

  </div>


</li>

</ol>

    
<div class="commit-group-title">2014년 10월 27일 (월)</div>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/gitaeks" data-skip-pjax="true" rel="contributor"><img alt="Gitaek kwon" class="avatar" data-user="5070245" height="36" src="https://avatars2.githubusercontent.com/u/5070245?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/64134485f0287b06ac0ba63129c5261197afb970" class="message" data-pjax="true" title="해커톤 작업분">해커톤 작업분</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=gitaeks" aria-label="View all commits by gitaeks" class="commit-author tooltipped tooltipped-s" rel="contributor">gitaeks</a>
       authored <time datetime="2014-10-27T08:01:48Z" is="relative-time" title="2014년 10월 27일 오후 5시 1분 48초 GMT+9">5 days ago</time>



    </div>

  </div>


</li>

</ol>

    
<div class="commit-group-title">
  <span class="octicon octicon-git-commit"></span>2014년 10월 25일 (토)
</div>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/yoseo" data-skip-pjax="true" rel="contributor"><img alt="Ryan y. Seo" class="avatar" data-user="786384" height="36" src="https://avatars0.githubusercontent.com/u/786384?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/a0544b0c3d22d3916d471bec6611e05d54e2a889" class="message" data-pjax="true" title="... just logo..">... just logo..</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=yoseo" aria-label="View all commits by yoseo" class="commit-author tooltipped tooltipped-s" rel="contributor">yoseo</a>
       authored <time datetime="2014-10-25T10:51:57Z" is="relative-time" title="2014년 10월 25일 오후 7시 51분 57초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/yoseo" data-skip-pjax="true" rel="contributor"><img alt="Ryan y. Seo" class="avatar" data-user="786384" height="36" src="https://avatars0.githubusercontent.com/u/786384?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/b77e742faf0e8f766c3560919108a4bbc8e4fe76" class="message" data-pjax="true" title="삽질...">삽질...</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=yoseo" aria-label="View all commits by yoseo" class="commit-author tooltipped tooltipped-s" rel="contributor">yoseo</a>
       authored <time datetime="2014-10-25T06:11:27Z" is="relative-time" title="2014년 10월 25일 오후 3시 11분 27초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

    
<li class="commit commits-list-item table-list-item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="https://github.com/yoseo" data-skip-pjax="true" rel="contributor"><img alt="Ryan y. Seo" class="avatar" data-user="786384" height="36" src="https://avatars0.githubusercontent.com/u/786384?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="https://github.com/codeforseoul/seoul_serenity/commit/b0e0e3f9321615a9f3c386a428cafb5adc78a726" class="message" data-pjax="true" title="test for users, projects">test for users, projects</a>

    
    </p>

    <div class="commit-meta">
        <a href="https://github.com/codeforseoul/seoul_serenity/commits/backend-proto?author=yoseo" aria-label="View all commits by yoseo" class="commit-author tooltipped tooltipped-s" rel="contributor">yoseo</a>
       authored <time datetime="2014-10-25T04:06:24Z" is="relative-time" title="2014년 10월 25일 오후 1시 6분 24초 GMT+9">7 days ago</time>



    </div>

  </div>


</li>

</ol>

  </div>