<div class="commits-listing team-5">

<h3>2014년 10월 26일 (일)</h3>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/9ec1456f437354cab00a96a1eb604b6d?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/417c3dbede6a955260f80f390f72a3907602ee48" class="message" data-pjax="true" title="upload sync &amp; sql dump">upload sync &amp; sql dump</a>
    </p>
    <div class="commit-meta">
        <span class="commit-author">root</span>
       authored <time datetime="2014-10-25T21:36:05Z" is="relative-time" title="2014년 10월 26일 오전 6시 36분 5초 GMT+9">5 days ago</time>
    </div>

  </div>
  
</li>

</ol>

    
<h3>2014년 10월 25일 (토)</h3>

<ol class="commit-group table-list table-list-bordered">
    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/9ec1456f437354cab00a96a1eb604b6d?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/9ad4ef8f666187dfb6b766d442a9f60e149901b6" class="message" data-pjax="true" title="uploads sync">uploads sync</a>
    </p>

    <div class="commit-meta">
        <span class="commit-author">root</span>
       authored <time datetime="2014-10-25T09:34:30Z" is="relative-time" title="2014년 10월 25일 오후 6시 34분 30초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/5e78c4e05994e79d229cda1e5669b8f782245f83" class="message" data-pjax="true" title="문구 변경 &quot;리포트&quot; -&gt; &quot;데이터&quot;, &quot;제출&quot; -&gt; &quot;공유&quot;">문구 변경 "리포트" -&gt; "데이터", "제출" -&gt; "공유"</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by Claudeyun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-25T09:33:04Z" is="relative-time" title="2014년 10월 25일 오후 6시 33분 4초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content navigation-focus" data-channel="codenamu/team_5:commit:96e79d0454cc8fd479e128d8e8f8ee1dc4a45464" data-url="/codenamu/team_5/commit/96e79d0454cc8fd479e128d8e8f8ee1dc4a45464/show_partial?partial=commits%2Fcommits_list_item">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/96e79d0454cc8fd479e128d8e8f8ee1dc4a45464" class="message" data-pjax="true" title="&quot;리포트제출&quot; 버튼 출력위치 조정">"리포트제출" 버튼 출력위치 조정</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by Claudeyun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-25T09:02:46Z" is="relative-time" title="2014년 10월 25일 오후 6시 2분 46초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/9ec1456f437354cab00a96a1eb604b6d?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/1e0c09b0a1a3b6600f3bee70a67f7b10ee9c8443" class="message" data-pjax="true" title="uploads sync">uploads sync</a>
    </p>

    <div class="commit-meta">
        <span class="commit-author">root</span>
       authored <time datetime="2014-10-25T08:56:13Z" is="relative-time" title="2014년 10월 25일 오후 5시 56분 13초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <img alt="" class="avatar" height="36" src="https://2.gravatar.com/avatar/9ec1456f437354cab00a96a1eb604b6d?d=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="36">
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/d301075fb466edd0d3e5bef60c48466b268659ff" class="message" data-pjax="true" title="/media/uploads sync">/media/uploads sync</a>
    </p>

    <div class="commit-meta">
        <span class="commit-author">root</span>
       authored <time datetime="2014-10-25T08:44:19Z" is="relative-time" title="2014년 10월 25일 오후 5시 44분 19초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/e04e638918474283ebab631ea30c3889045d6a95" class="message" data-pjax="true" title="리포트 h5 출력 제거">리포트 h5 출력 제거</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by Claudeyun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-25T08:37:39Z" is="relative-time" title="2014년 10월 25일 오후 5시 37분 39초 GMT+9">6 days ago</time>



    </div>

  </div>
  

</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/cc362b8846cd0e62b9127604df712ae798f6214c" class="message" data-pjax="true" title="리포트 테이블에 jquery datatable 적용 / 스타일 변경">리포트 테이블에 jquery datatable 적용 / 스타일 변경</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by Claudeyun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-25T08:33:03Z" is="relative-time" title="2014년 10월 25일 오후 5시 33분 3초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/yjchang27" data-skip-pjax="true" rel="contributor"><img alt="yjchang27" class="avatar" data-user="9034396" height="36" src="https://avatars0.githubusercontent.com/u/9034396?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/d4449a3fc518b910eb535c92f492bb8c4e54e446" class="message" data-pjax="true" title="media 폴더 업로드">media 폴더 업로드</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=yjchang27" aria-label="View all commits by Youngjae Chang" class="commit-author tooltipped tooltipped-s" rel="contributor">yjchang27</a>
       authored <time datetime="2014-10-25T08:14:20Z" is="relative-time" title="2014년 10월 25일 오후 5시 14분 20초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/242156fcabd9ddb290ca6a1d7e0f88e0246e8edb" class="message" data-pjax="true" title=".gitignore 에 media/upload 제거">.gitignore 에 media/upload 제거</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by Claudeyun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-25T08:10:21Z" is="relative-time" title="2014년 10월 25일 오후 5시 10분 21초 GMT+9">6 days ago</time>
    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/096f7005b64f0471861c5ff87c080a0279121d06" class="message" data-pjax="true" title="리포트 테이블 스타일 가이드 작성">리포트 테이블 스타일 가이드 작성</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by Claudeyun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-25T08:06:18Z" is="relative-time" title="2014년 10월 25일 오후 5시 6분 18초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/e5d032dc990f71d56b0dc165c30dbd1cd5b4d3ba" class="message" data-pjax="true" title="하단 리포트 폭 조정">하단 리포트 폭 조정</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by Claudeyun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-25T07:56:06Z" is="relative-time" title="2014년 10월 25일 오후 4시 56분 6초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/ee162a9b50de3371d0c7bf35689a3b8e530e3971" class="message" data-pjax="true" title="unicorn theme 를 unicorn_modify 로 복사">unicorn theme 를 unicorn_modify 로 복사</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by Claudeyun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-25T04:34:22Z" is="relative-time" title="2014년 10월 25일 오후 1시 34분 22초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/05ad88a90391dc0e6179e10542b4b1dfc2e88498" class="message" data-pjax="true" title="암호화 기준 동기화">암호화 기준 동기화</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by Claudeyun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-25T04:33:41Z" is="relative-time" title="2014년 10월 25일 오후 1시 33분 41초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/c308e0a1144780aa7f5b7624c93ecd8ac929fbd7" class="message" data-pjax="true" title=".gitignore 일부 제외">.gitignore 일부 제외</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by Claudeyun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-25T04:15:51Z" is="relative-time" title="2014년 10월 25일 오후 1시 15분 51초 GMT+9">6 days ago</time>



    </div>

  </div>
  
</li>

    
<li class="commit commits-list-item table-list-item js-navigation-item js-details-container js-socket-channel js-updatable-content">

  <div class="table-list-cell commit-avatar-cell">
    <div class="avatar-parent-child">
    <a href="/ClaudeYun" data-skip-pjax="true" rel="contributor"><img alt="ClaudeYun" class="avatar" data-user="4423820" height="36" src="https://avatars1.githubusercontent.com/u/4423820?v=2&amp;s=72" width="36"></a>
    </div>
  </div>
  <div class="table-list-cell">
    <p class="commit-title ">
        <a href="http://github.com/codenamu/team_5/commit/9cac7e312d833e01c9003fd7a0db33d439f66dff" class="message" data-pjax="true" title="ushahidi 최초 설치">ushahidi 최초 설치</a>
    </p>

    <div class="commit-meta">
        <a href="http://github.com/codenamu/team_5/commits/master?author=ClaudeYun" aria-label="View all commits by ClaudeYun" class="commit-author tooltipped tooltipped-s" rel="contributor">ClaudeYun</a>
       authored <time datetime="2014-10-24T19:04:07Z" is="relative-time" title="2014년 10월 25일 오전 4시 4분 7초 GMT+9">7 days ago</time>



    </div>

  </div>
  
</li>

</ol>


  </div>